<div class="app-container">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Gestion des Praticiens</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span>Tableau de bord</span>
        </a>
        <a mat-list-item routerLink="/praticiens" routerLinkActive="active">
          <mat-icon mat-list-icon>people</mat-icon>
          <span>Praticiens</span>
        </a>
        <a mat-list-item routerLink="/specialites" routerLinkActive="active">
          <mat-icon mat-list-icon>local_hospital</mat-icon>
          <span>Spécialités</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
