.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.app-title {
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  min-width: 250px;
}

.content {
  height: 100%;
  overflow: auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}
